{
  "plugins": [
    [
      "@babel/plugin-transform-react-jsx",
      {
        "pragma": "h"
      }
    ],
    [
      "babel-plugin-jsx-pragmatic",
      {
        "module": "hyperapp",
        "import": "h",
        "export": "h"
      }
    ],
    "@babel/plugin-transform-runtime"
  ]
}